@using ReservationBicycles.Const
@model IEnumerable<DAL.Entities.LocationBicyclette>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row py-3">
        <h3 class=" col-md-4 fw-bold text-center">Gestion Des Réservation</h3>
        <div class="offset-4 col-4 text-end px-3">
            <a class="btn mb-0 text-normal" href="/Admin/LocationBicyclettes/Create" style="background-color:#344767; color:white;"><i class="material-icons text-sm">add</i>Nouvelle Réservtion</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Réservations</h6>
                </div>
                <div class="card-body pt-4 p-3">
                    <ul class="list-group">
                        @if (Model.Any())
                        {
                            foreach (var i in Model)
                            {
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h5 class="mb-3 text-sm">@i.Client.NomClient @i.Client.PrenomClient</h5>
                                        <h6 class="mb-3 text-sm colorpink"> Statut: @i.Statut.Libelle</h6>
                                        <span class="mb-2 text-xs"> Model: <span class="text-dark font-weight-bold ms-sm-2">@i.Bicyclette.ModeleNavigation.Libelle</span></span>
                                        <span class="mb-2 text-xs"> Période: <span class="text-dark ms-sm-2 font-weight-bold">@i.DateDebut.ToString("dd-MM-yyyy") - @i.DateFin.ToString("dd-MM-yyyy")</span></span>
                                        <span class="mb-2 text-xs"> Télephone: <span class="text-dark ms-sm-2 font-weight-bold">@i.Client.Telephone</span></span>
                                        <span class="mb-2 text-xs"> Email: <span class="text-dark ms-sm-2 font-weight-bold">@i.Client.Email</span></span>
                                        <span class="text-xs">Mode de paiement <span class="text-dark ms-sm-2 font-weight-bold">@i.ModePaiementNavigation.Libelle</span></span>
                                    </div>
                                    <div class="ms-auto text-end">
                                        @if (i.StatutId == (int)StatutEnum.CREER)
                                        {
                                            <a class="btn btn-link text-success text-gradient px-3 mb-0" href="/Admin/LocationBicyclettes/AccepterReservation/@i.Id"><img src="/images/icons8-coche-48.png" alt="refuser" style="width:20px !important;" /> Accepter </a>
                                            <a class="btn btn-link colorpink px-3 mb-0" href="/Admin/LocationBicyclettes/RefuserReservation/@i.Id"> <img src="/images/icons8-x-50.png" alt="refuser" style="width:25px !important;" />Refuser</a>
                                        }
                                        else if (i.StatutId == (int)StatutEnum.REFUSER || i.StatutId == (int)StatutEnum.ACCEPTER)
                                        {
                                            <a class="btn btn-link text-info text-gradient px-3 mb-0" href="/Admin/LocationBicyclettes/CloturerReservation/@i.Id"><img src="/images/icons8-u-tourner-à-gauche-48.png" alt="refuser" style="width:20px !important;" /> Clôturer </a>

                                        }
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>