@model DAL.Entities.Bicyclette

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bicyclette</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAchat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatNavigation.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeleNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeleNavigation.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
